body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
}

#myH1 {
    font-size: 4rem;
    font-family: "Arial";
    color: black;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid;
    border-radius: 50px;
    padding: 30px;
    background-color: white;
}

#display {
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    margin-bottom: 25px;
}

#controls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 15px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn {
    background-color: hsl(115, 100%, 45%);
}
#startBtn:hover {
    background-color: hsl(115, 100%, 35%);
}
#stopBtn {
    background-color: hsl(10, 90%, 55%);
}
#stopBtn:hover {
    background-color: hsl(10, 90%, 45%);
}
#resetBtn {
    background-color: hsl(222, 100%, 50%);
}
#resetBtn:hover {
    background-color: hsl(222, 100%, 40%);
}